@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.tabAcab{
  border-collapse: collapse;
  margin-top: 6px;
  font-size: 15px;
  background-color: #FFFFCC;
  color: #000000;
  font-family: 'Karla', 'Verdana', 'Ubuntu';
}

.tabAcab th, .tabAcab td{
  border: 2px solid #000000;
  padding: 6px 12px 6px 12px;
}

.tabAcab .linTH{
  color: #EEEE00;
  background-color: #666666;
  vertical-align: middle;
  text-align: center;
}

.tabAcab .colTH{
  color: #000000;
  background-color: #AAAAAA;
  text-align: left;
}

.imgAcab{
  width: 60px;
  height: 44px;
}

.preco{
  color: #CC0000;
  font-weight: bold;
}

.tabAcab .menuTab{
  height: 40px;
}

.tabAcab .descricao{
  text-align: center;
  vertical-align: middle;
}

.tabAcab a{
  text-decoration: none;
  color: #303030;
}

.tabAcab a:visited{
  text-decoration: none;
  color: #303030;
}

#marcaDes, #nomeDes, #prcDes{
  text-align: center;
}