@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.divCompras{
  width: 550px;
  color: #000000;
  background-color: #FFFFCC;
  padding: 6px 6px 15px 6px;
  font-size: 12px;
  margin: 20px auto 20px auto;
}

#listaCompras{
  width: 210px;
  height: 150px;
  float: right;
  margin-top: 2px;
  margin-left: 10px;
}

.elemDir{
  float: right;
  margin-top: 25px;
}

.inpGrande{
  width: 380px;
}

.inpMedio{
  width: 80px;
}

.inpNCC{
  width: 130px;
}

.inpTelef{
  width: 90px;
}

.inpEnder{
  width: 180px;
  height: 50px;
}

.numDD{
  width: 30px;
}

.numQD{
  width: 50px;
}

.divLinha{
  width: 500px;
  margin-bottom: 6px;
}

.colPri{
  float: left;
  display: block;
  width: 90px;
}

.fsDir{
  float: right;
  display: inline;
  margin: 0px;
}

.fsEsq{
  float: left;
  display: inline;
  margin: 0px;
}

.colLabCrd{
  float: left;
  width: 70px;
  height: 30px;
}

.botoes{
  text-align: right;
  margin-top: 20px 10px 0px 10px;
}

.colSelProd{
  width: 160px;
  float: left;
  margin-top: 5px;
}