@charset "UTF-8";

/* Estilo Section Lentes */

.listaLentes {
	color: #3040BB;
	background-color: #EEDD99;
	padding: 10px 10px 10px 50px;
	margin: 30px 10px 10px 10px;
	border: 2px solid #000055;
	line-height: 200%;
	list-style-type: upper-roman;
}

.listaLentes ul{
	color: #3040BB;
	line-height: 200%;
	list-style-type: none;
}

.listaLentes .preco {
	color: #EE0000;
}