@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.FormBox{
  width: 540px;
  padding: 10px;
  margin-top: 10px;
  text-align: center;
  background-color: #EEDDCC;
  border: 3px solid #000055;
  font-size: 16px;
  font-family: 'Karla', 'Verdana', 'Ubuntu';
}

.FSLinhaInteira{
  width: 510px;
  text-align: left;
}

.FSEsq{
  display: inline;
  float: left;
}

.FSDir{
  display: inline;
  float: right;
}

.LinhaForm{
  margin: 0px;
  height: 30px;
  padding: 6px 3px 0px 3px;
}

.ColEsq{
  width: 180px;
  float: left;
  display: block;
}

.ColDir{
  width: 130px;
  float: right;
  display: block;
}

.LabBox{
  width: 130px;
  float: left;
  display: block;
}

.botoes{
  text-align: right;
  margin: 20px 10px 0px 10px;
}

.InpBoxMed{ width: 80px; }
.InpBoxGnd{ width: 380px; }
.numDD{ width: 35px; }
.numQD{ width: 50px; }
.inpNCC{ width: 130px; }
.inpTelef{ width: 90px; }
.inpEnder{ width: 180px; height: 60px; }

.ColEsqSelProd{
  width: 360px;
  float: left;
  display: block;
}

.LabBoxSel{
  width: 90px;
  float: left;
  display: block;
}

.LabBoxQtd{
  width: 40px;
  float: left;
  display: block;
}

.ColEsqValUnit{
  width: 250px;
  float: left;
  display: block;
}

.InpBoxMedLeft{
  width: 80px;
  float: left;
  display: block;
}

.selMaquina, .selCapsula{ width: 75%; }
#lisPedArea{ height: 90%; width: 100%; }

.boxPedidos{
  margin: 0px;
  height: 90px;
  padding: 6px 3px 0px 3px;
}

.divLinha{
  margin: 0px;
  width: 500px;
  padding: 6px 3px 0px 3px;
}

.colPri{
  width: 90px;
  float: left;
  display: block;
}

.colLabCrd{
  width: 75px;
  height: 10px;
  text-align: left;
  float: left;
}

.colValTot{
  margin-top: 30px;
  width: 220px;
  text-align: left;
  float: left;
  display: block;
}

.listaCompras{
  width: 190px;
  height: 200px;
  margin-top: 8px;
  margin-bottom: 10px;
  margin-left: 10px;
  float: right;
}

.buttonPlus{
  text-align: center;
  float: right;
}