@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

.formul{
  width: 400px;
  padding-top: 20px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  color: #202020;
  background-color: #EEEEBB;
  border: 3px solid #202020;
  font-size: 12px;
}

.fsPessoal{
  width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.fsGenero{
  float: right;
  margin-top: 0px;
  margin-right: 10px;
}

.fsCartao{
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.linhaNome{
  height: 40px;
  width: 340px;
  padding-top: 8px;
}

.linhaDados{
  height: 110px;
  width: 340px;
}

.ColDirMat{
  float: right;
}

.ColEsqPes{
  float: left;
  width: 70px;
  display: block;
}

.ColLabCrd{
  width: 270px;
  height: 30px;
  text-align: left;
}

.colValTot{
  width: 220px;
  text-align: left;
  float: left;
  display: block;
}

.entDireita{
  margin-right: 20px;
  float: right;
}

.inpNome{ width: 220px; }
.numDD{ width: 35px; }
.numQD{ width: 50px; }
.inpNCC{ width: 130px; }
.inpTelef{ width: 90px; }
.inpMat{ width: 70px; }
.inpVal{ width: 50px; }