@charset "UTF-8";

/* Estilo Section Estoque */

.tabInfo{
	border-collapse: collapse;
	margin-top: 6px;
	background-color: #FFFFFF;
	color: #000066;
	font-size: 15px;
	font-family: 'Karla','Verdana','Ubuntu';
}

.tabInfo td, .tabInfo th{
	border: 3px solid #226699;
	padding: 6px 12px 6px 12px;
}

.tabInfo .linTH{
	color: #FFFFFF;
	background-color: #112288;
	vertical-align: middle;
	text-align: center;
}

.tabInfo .colTH{
	color: #FFFFFF;
	background-color: #0066DD;
	text-align: left;
}

.tabInfo .preco{
	color: #CC0000;
}