.divCompras { 
    color: #2255AA; 
    border:  2px solid #000000;  
    margin:  20px auto; 
    padding: 6px 6px 15px 6px; 
    background-color: #FFFFBB; 
    font-size:  12px; 
    width: 550px; 
} 
  
/*** Elementos do Formulário ***/ 
 
#listaCompras { 
    float: right; 
    width: 210px; 
    height: 175px; 
    margin-top: 2px; 
    margin-left: 10px; 
} 
  
.colLabSelProd { 
    width: 230px; 
    height: 40px; 
    float: left; 
} 
 
.colSelProd { 
    width: 160px; 
    float: right; 
} 
  
.linhaProdSel { 
    float: left; 
    width: 220px; 
    margin-bottom: 6px; 
} 
 
.elemEsq { 
    float: left;  
    display:block; 
} 
 
.elemDir { 
    float: right;  
    display:block; 
} 
 
.botoes { 
    text-align: right; 
    margin:  20px 10px 0px 10px; 
} 
  
/*** Fieldsets ***/ 
 
.fsEsq { 
    float: left; 
    display: inline; 
    margin: 0px 0px 0px 0px; 
} 
 
.fsDir { 
    float: right; 
    display: inline; 
    margin: 0px 0px 0px 0px; 
} 
 
/*** Tamanho de Input ***/ 
  
.inpGrande  {  width: 380px; } 
.inpMedio   {  width: 80px;  } 
 
.inpNCC     {  width: 130px; } 
.inpTelef   {  width: 90px;  } 
.inpEnder   {  width: 180px;  height: 50px; } 
 
.numDD {  width:30px;  } 
.numQD {  width:50px;  } 
 
/*************************************** 
 *   Estilo Elementos do Formulário 
 */ 
  
.divLinha { 
    width: 500px; 
    margin-bottom: 6px; 
} 
  
.colLabCrd { 
    width: 260px; 
    height: 40px; 
    float: left; 
} 
 
.colPri { 
    float: left; 
    width: 90px; 
    display: block; 
} 
  
.colPriCompras { 
    float: left; 
    width: 86px; 
    display: block; 
} 
 
.colPriPag { 
    float: left; 
    width: 250px; 
    display: block; 
}