@charset "UTF-8";

/* Estilo Section Compras */

.geral {
	width: 580px;
	color: #880000;
	background-color: #EEDD99;
	padding: 6px 6px 15px 6px;
	margin: 10px auto;
	border: 2px solid #000055;
}

/* Posicionamento de elementos no formulário */

.listaCompras{
	width: 230px;
	height: 230px;
	float: right;
	margin-top: 8px;
	margin-left: 10px;
}

.botoes {
	text-align: right;
	margin: 20px 10px 0px 10px;
}

/* Posicionamento de fielsets */

.fsEsq{
	float: left;
	display: inline;
	margin: 0px;
}

.fsDir{
	float: right;
	display: inline;
	margin: 0px;
}

/* Tamanhos de inputs */

.inpGrande{
	width: 440px;
}

.inpMedio{
	width: 80px;
}

.inpNCC{
	width: 130px;
}

.inpTelef{
	width: 90px;
}

.inpEnder{
	width: 200px;
	height: 60px;
}

.numDD{
	width: 30px;
}

.numQD{
	width: 50px;
}

/* Mais posicionamento de elementos no formulário */

.divLinha{
	width: 550px;
	margin-bottom: 6px;
}

.colPri{
	float: left;
	display: block;
	width: 90px;
}

.colPriCompras{
	float: left;
	display: block;
	width: 86px;
}

.colPriPag{
	float: left;
	display: block;
	width: 250px;
}

select#selProd{
	font-size: 16px;
	margin-left: 10px;
	margin-right: 10px;
	width: 350px;
}