.titulo{
  text-align: center;
}

.listaCuida{
  width: 380px;
  color: #3366BB;
  background-color: #FFFFBB;
  padding: 10px 10px 10px 30px;
  border: 2px solid #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.listaCuida ul{
  list-style-type: square
}

.listaCuida ol{
  list-style-type: lower-alpha;
}

.listaCuida .preco{
  color: #C00000;
}